#about {
    min-height: 100vh;
    line-height: 2rem;
    max-width: 100%;
    position: relative;
}

#about h3 {
    display: flex;
    -webkit-box-align: center;
    position: relative;
    align-items: center;
    color: var(--primary-color) !important;
    font-size: clamp(20px, 6vw, 30px);
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
}

#about h3::before {
    position: relative;
    /* counter-increment: section 1; */
    /* content: "0" counter(section) "."; */
    font-size: clamp(20px, 6vw, 30px);
    color: var(--primary-color);
    margin-right: 10px;
}

#about h3::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--primary-color);
}

#about #blurb {
    color: var(--text-color) !important;
    font-size: clamp(12px, 5vw, 16px);
    max-width: 400px;
}

#about #blurb a {
    color: var(--primary-color) !important;
    font-size: clamp(12px, 5vw, 16px);
    text-decoration: none;
}

#about ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#about ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

#about::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 100px;
      top: 30%;
      filter: blur(120px);
      background: linear-gradient(93.51deg, var(--primary-color) 2.84%, var(--secondary-color) 99.18%);
      z-index: -1;
      padding-left: 10rem;
}
