#contact {
    height: 100vh;
    position: relative;
}

#contact a.btn {
    color: var(--primary-color) !important;
    margin-top: 50px;
    padding: 0.7rem 1.75rem;
    border: 1px solid var(--primary-color);
    border-radius: .75rem;
    transition: none;
}

#contact a.btn:focus {
    box-shadow: none;
}

#contact a.btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    opacity: 0.9;
}

#contact h2 {
    /* color: var(--primary-color); */
    font-size: clamp(40px, 5vw, 60px);
    font-weight: bold;
}

#contact .text {
    color: var(--text-color) !important;
    font-size: clamp(12px, 5vw, 16px);
}

#contact {
    &::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 100px;
      top: 40%;
      filter: blur(80px);
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      z-index: -1;
    }
}
