#experience {
    min-height: 80vh;
    line-height: 2rem;
    max-width: 100%;
    position: relative;
}

#experience h3 {
    display: flex;
    -webkit-box-align: center;
    position: relative;
    align-items: center;
    color: var(--primary-color) !important;
    font-size: clamp(20px, 6vw, 30px);
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
}

#experience h3::before {
    position: relative;
    counter-increment: section 2;
    content: "0" counter(section) ".";
    font-size: clamp(20px, 6vw, 30px);
    color: var(--primary-color);
    margin-right: 10px;
}

#experience h3::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--primary-color);
}

#experience * {
    background-color: transparent !important;
}

#experience .tab-pane > * {
    opacity: 0.9;
}

#experience .tab-pane small {
    opacity: 0.8;
}

#experience .tab-pane ul {
    padding-top: 1%;
    padding-bottom: 1%;
}

#experience .experience-container .tab-content > .tab-pane p {
    padding: 1% 0;
    margin: 0;
}

#experience .experience-container {
    background-color: transparent !important;
    border-radius: .75rem;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
}

#experience .nav-item .nav-link {
    color: var(--primary-color) !important;
    border-bottom: 2px solid transparent; 
    border-radius: 0%;
    transition: none;
    cursor: pointer;
}

#experience .nav-item .nav-link.active {
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color); 
    opacity: 0.8;
}

#experience .nav-item .nav-link.active:hover { 
    transition: none !important;
}

#experience .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--primary-color);
    opacity: 0.8;
}

#experience a {
    opacity: 0.9;
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color) !important;
}

#experience a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#experience a:hover::after, #experience a:focus::after, #experience a:active::after {
    width: 100%;
}

#experience .experience-container .tab-content .tab-pane ul {
    overflow: hidden;
    list-style: none;
    margin-bottom: 0;
}

#experience .experience-container .tab-content .tab-pane ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#experience .experience-container .tab-content .tab-pane ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a::after {
    display: block;
    width: auto;
    height: auto;
    bottom: 0em;
    background-color: transparent;
    transition: none;
    opacity: 1;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn {
    border: 1px solid var(--primary-color);
    border-radius: .75rem;
    transition: none;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn:focus {
    box-shadow: none;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn:hover {
    color: var(--text-color) !important;
    opacity: 0.7;
}

#experience div {
    color: var(--text-color);
}

#experience .h4 {
    color: var(--primary-color);
}

#experience small {
    color: var(--primary-color);
}

/* #experience { */
/*     &::before { */
/*       content: ""; */
/*       position: absolute; */
/*       width: 80%; */
/*       height: 100px; */
/*       top: 40%; */
/*       filter: blur(80px); */
/*       background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%); */
/*       z-index: -1; */
/*     } */
/* } */
