.card {
    background-color: var(--background-color) !important;
    border: solid;
    z-index: 5;
}

.card-title {
    color: var(--primary-color) !important;
}

.date {
    display: block;
}

.middot-divider {
    padding-right: .45em;
    padding-left: .45em;
    font-size: 15px;
}

.summary {
    clear: left;
}

.card-body {
    color: var(--text-color) !important;
}

.btn {
    color: var(--primary-color) !important;
    border: solid var(--primary-color) !important;
}
    
.badge {
    /* background-color: var(--primary-color) !important; */
    color: var(--text-color) !important;
    border-radius: 0.5rem !important;
    border-color: var(--primary-color);
    border: solid;
    margin: 0 1%;
}
