{{ if .Site.Params.content.about.enable }}
<section id="about" class="py-0 py-sm-5">
    <div class="col-9 container bg-transparent">
        <h3 class="">
            {{ .Site.Params.content.about.title }}
        </h3>

        <div class="bg-transparent row justify-content-center align-items-center
            content animate py-5" id="primary-font">
            <div id="blurb" class="col-sm-10 col-md-6 col-lg-6">
                {{ .Site.Params.content.about.text | markdownify }}

                {{ if .Site.Params.content.about.enableSkills }}
                {{ .Site.Params.content.about.skillsTitle }}
                <ul>
                    {{ range .Site.Params.content.about.skillsItems }}
                    <li>{{ . | markdownify }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

            {{ if .Site.Params.content.about.image }}
            <div class="col-sm-10 col-md-6 col-lg-6 mb-0">
                <div class="image d-flex px-sm-0 px-md-0 px-lg-5">
                    <img src="{{ .Site.Params.content.about.image }}"
                    class="img-thumbnail mx-auto rounded-circle" alt="">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
