{{ if .Site.Params.content.contact.enable }}
<section id="contact" class="d-flex justify-content-center align-items-center">
    <div class="col-9 content container">
        <h2 class="name text-center">{{ .Site.Params.content.contact.title }}</h2>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-md-5">
                <div class="col-md-8 py-3">
                    <div class="text text-center pb-3">
                        {{ .Site.Params.content.contact.text | emojify | markdownify }}
                    </div>

                    <!-- Contact button -->
                    <div class="col-auto justify-content-center d-flex">
                        {{ if .Site.Params.settings.hero.buttonEnable }}
                        <a class="email-link btn mt-3"
                           href="mailto:{{ .Site.Params.settings.hero.email }}"
                            rel="noopener noreferrer" target="_blank">
                            {{ .Site.Params.settings.hero.buttonName }}
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
