{{ if .Site.Params.content.experience.enable }}
<section id="experience" class="py-0 py-sm-5">
    <div class="col-9 container bg-transparent">
        <!-- Title -->
        <h3 class="py-5">
            {{ .Site.Params.content.experience.title }}
        </h3>

        <!-- Experiences -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-3 bg-transparent primary-font" id="pills-tab" role="tablist">
                        {{ range $index, $element := .Site.Params.content.experience.items }}
                        {{ if (eq $index 0) }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link active bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace .company " " "-" }}-{{ replace .date " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}'
                                aria-controls='{{ replace .company " " "-" }}-{{ replace .date " " "-" }}' 
                            >
                                {{ .company }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace .company " " "-" }}-{{ replace .date " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}' 
                                aria-controls='{{ replace .company " " "-" }}-{{ replace .date " " "-" }}'
                            >
                                {{ .company }}
                            </div>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <div class="tab-content pb-5 pt-2 bg-transparent primary-font" id="pills-tabContent">
                        {{ range $index, $element := .Site.Params.content.experience.items }}
                        {{ if (eq $index 0) }}
                        <div 
                            class="tab-pane fade show active bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}'
                            aria-labelledby='pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}-tab'
                        >
                            <div>
                                <span class="h4">{{ .job }}</span>
                                <small>-</small>
                                <a href="{{ .companyUrl }}" target="_blank">{{ .company }}</a>
                                <div class="pb-1">
                                    <small>{{ .date }}</small>
                                </div>
                            </div>

                            {{ .text | markdownify}}
                        </div>
                        {{ else }}
                        <div 
                            class="tab-pane fade bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}'
                            aria-labelledby='pills-{{ replace .company " " "-" }}-{{ replace .date " " "-" }}-tab'
                        >
                            <div>
                                <span class="h4">{{ .job }}</span>
                                <small>-</small>
                                <a href="{{ .companyUrl }}" target="_blank">{{ .company }}</a>
                                
                                <div class="pb-1">
                                    <small>{{ .date }}</small>
                                </div>
                            </div>

                            <div class="pt-2">
                                {{ .text | markdownify}}
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
