<!DOCTYPE html>
<html>

<head>
    <!-- Header config -->
    {{- partial "head.html" . -}}

    {{- block "head" . }} {{- end }}

    <title>
        {{- block "title" . }} {{- end }}
    </title>
</head>

<body>
    <!-- Navbar config -->
    {{- partial "sections/navbar.html" . -}}

    <div class="content">
    {{ block "main" . }}{{ end }}
    </div>

    <script src="{{ .Site.Params.staticPath }}/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- Scripts -->
    {{- partial "scripts.html" . -}}
</body>

</html>
