{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<h2 class="text-center pb-2">{{.Title}}</h2>

<!-- Horizontal Card -->
<div class="container col-10 col-lg-8 justify-content-center">
    {{ range .Pages }}
    <div class="card my-3 p-1">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img" src="{{ .Params.image }}" alt="{{.Title }} ">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h4 class="card-title bg-transparent" title="{{ .Title
                        }}">{{ .Title | truncate 35 }}</h5>
                    <div class="pb-2 bg-transparent">
                        {{ range .Params.badges }}
                        <span class="badge badge-secondary">{{ . }}</span>
                        {{ end }}
                    </div>
                    <span class="date float-start bg-transparent">{{ .Date.Format (.Site.Params.datesFormat.articleList | default "January 2, 2006") }}</span>
                    <span class="middot-divider">-</span>
                    <span> {{ .ReadingTime }} minute read </span>
                    <div class="summary card-text secondary-font">
                        <p>{{ .Summary | truncate 300}}</p>
                    </div>                    
                    <a href="{{ .RelPermalink }}" class="float btn btn-outline-info btn-sm">{{ .Site.Params.terms.read | default "Read" }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
