<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="{{ .Site.Params.primaryColor}}">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
<link rel="icon" href={{ .Site.Params.settings.favicon }} type="image/gif">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/bootstrap-5/css/bootstrap.min.css" media="all">

<!-- font configuration -->
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/font.css" media="all">

<!-- theme -->
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/theme.css" media="all">

<!-- stylesheets -->
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/navbar.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/hero.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/about.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/experience.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/contact.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/footer.css" media="all">

<!-- Customize colors -->
<style>
    :root {
        /* default colors */
        --text-color: {{ .Site.Params.color.textColor }};
        --text-secondary-color: {{ .Site.Params.color.secondaryTextColor }};
        --background-color: {{ .Site.Params.color.backgroundColor }};
        --secondary-background-color: {{ .Site.Params.color.secondaryBackgroundColor }};
        --primary-color: {{ .Site.Params.color.primaryColor }};
        --secondary-color: {{ .Site.Params.color.secondaryColor }};
    }

    body {
        margin: 0;
        font-size: {{ .Site.Params.settings.font.fontSize }};
        font-weight: {{ .Site.Params.settings.font.fontWeight }};
        line-height: {{ .Site.Params.settings.font.lineHeight }};
        text-align: {{ .Site.Params.settings.font.textAlign }};
    }

</style>
