<div class="section posts">
    <div class="header"></div>
    <div class="content">
        {{ range first 5 (where (where .Site.RegularPages "Type" "posts")
        "Draft" "ne" true) }}
        <div class="post">
            <div class="line">
                <span class="date">{{ .Date.Format "2006-01-02" }}</span>
                <span class="title">
                    <a href="{{ .RelPermalink }}">{{lower .Title }}</a>
                </span>
            </div>
        </div>
        {{ end }}
    </div>
</div>
