{{ define "head" }}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-5/all-5.15.4.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    {{- partial "sections/hero.html" . -}}
    {{- partial "sections/about.html" . -}}
    {{- partial "sections/experience.html" . -}}
    {{- partial "sections/research.html" . -}}
    {{- partial "sections/achievements.html" . -}}
    {{- partial "sections/projects.html" . -}}
    {{- partial "sections/contact.html" . -}}
    {{- partial "sections/footer.html" . -}}
{{ end }}
