{{ define "main" }} {{ $css := resources.Get "custom/css/homepage.css" | minify
| fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />

<div class="title-card">
    <h1>brandon szeto</h1>
    <p class="location">
        {{ $pin := resources.Get "icons/pin.svg" }} {{ $pin.Content | safeHTML
        }} la jolla, california
    </p>

    <p>
        grad student @ ucsd studying intelligent systems, robotics & controls.
        training for a triathalon.
    </p>

    <ol class="menu-social">
        <li>
            <a
                href="https://github.com/brandonszeto/"
                target="_blank"
                title="GitHub"
                rel="me"
            >
                {{ $github := resources.Get "icons/brand-github.svg" }} {{
                $github.Content | safeHTML }}
            </a>
        </li>
        <li>
            <a
                href="https://leetcode.com/bszeto/"
                target="_blank"
                title="LeetCode"
                rel="me"
            >
                {{ $leetcode := resources.Get "icons/brand-leetcode.svg" }} {{
                $leetcode.Content | safeHTML }}
            </a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/brandon-szeto/"
                target="_blank"
                title="LinkedIn"
                rel="me"
            >
                {{ $linkedin := resources.Get "icons/brand-linkedin.svg" }} {{
                $linkedin.Content | safeHTML }}
            </a>
        </li>
        <li class="x-icon">
            <a
                href="https://x.com/BrandonSzeto1"
                target="_blank"
                title="Twitter"
                rel="me"
            >
                {{ $x := resources.Get "icons/brand-x.svg" }} {{ $x.Content |
                safeHTML }}
            </a>
        </li>
    </ol>
</div>

<div sections>
    <details open>
        <summary>
            <a href="/posts" onclick="event.stopPropagation();">posts</a>
        </summary>
        {{ partial "section_posts.html" . }}
    </details>

    <details>
        <summary>data</summary>
        {{ partial "section_stats.html" . }}
    </details>

    <details>
        <summary>work</summary>
        {{ partial "section_work.html" . }}
    </details>
</div>

<script>
    if (window.location.pathname === "/") {
        // Find the sidebar element using its unique selector
        const sidebar = document.querySelector("aside.sidebar");

        // If the sidebar exists, hide it
        if (sidebar) {
            sidebar.style.display = "none";
        }
    }
</script>

{{ partial "scanlines.html" . }} {{ end }}
