{{ define "header" }} {{ partial "header.html" . }} {{ end }} {{ define "head"
}} {{ $sass := resources.Get "scss/list.scss" }} {{ $style := $sass | toCSS |
minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ end }} {{ define "main" }}
<div class="sections">
    <h1>{{ .Title }}</h1>
    <div class="section posts">
        <div class="header"></div>
        <div class="content">
            {{ range first 5 (where .RegularPages "Draft" "ne" true) }}
            <div class="post">
                <div class="line">
                    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
                    <span class="title">
                        <a href="{{ .RelPermalink }}">{{lower .Title }}</a>
                    </span>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
