<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linear Regression Canvas</title>
    {{ $css := resources.Get "regression/css/regression.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $css.Permalink }}" />
  </head>
  <body>
    <div class="container">
      <div class="canvas-container">
        <canvas id="canvas"></canvas>
        <canvas id="lineCanvas"></canvas>
        <canvas id="cursorCanvas"></canvas>
      </div>
      <div class="button-container">
        <button class="btn" id="runBtn">Run</button>
        <button class="btn" id="clearBtn">Clear</button>
      </div>
    </div>
    {{ $js := resources.Get "regression/js/draw.js" | js.Build | minify }}
    <script src="{{ $js.Permalink }}"></script>
    {{ $js := resources.Get "regression/js/regression.js" | js.Build | minify }}
    <script src="{{ $js.Permalink }}"></script>
    {{ $js := resources.Get "regression/js/app.js" | js.Build | minify }}
    <script src="{{ $js.Permalink }}"></script>
  </body>
</html>
