<div class="section stats">
    <div class="header">
        {{ $sass := resources.Get "tesla/css/tesla.scss" }} {{ $style := $sass |
        toCSS | minify | resources.Fingerprint "sha256" }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" />

        <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
        <script
            src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"
            defer
        ></script>
    </div>

    <div class="stats content">
        <div class="chart-section">
            <p>🚘 odometer and lifetime energy</p>
            <div class="chart-container">
                <canvas id="dailyStatsChart"></canvas>
                <p id="stats-loading" class="loading-message">Loading ...</p>
                <p
                    id="stats-error"
                    class="error-message"
                    style="display: none"
                ></p>
            </div>
        </div>

        <div class="chart-section">
            <p>🔋 energy change</p>
            <div class="chart-container">
                <canvas id="eventsChart"></canvas>
                <p id="events-loading" class="loading-message">Loading ...</p>
                <p
                    id="events-error"
                    class="error-message"
                    style="display: none"
                ></p>
            </div>
        </div>
    </div>

    {{ $js := resources.Get "tesla/js/app.js" | js.Build (dict "minify" true
    "target" "es2016") | fingerprint }}
    <script
        src="{{ $js.RelPermalink }}"
        integrity="{{ $js.Data.Integrity }}"
        defer
    ></script>
</div>
